<div>
    <div class="jumbotron jumbotron-fluid" style="background-color: #292b2c;">
        <font color="white">
            <h1 class="text-center" id="header">Welcome to our restaurant</h1>
            <h2 class="text-center" id="title">Sign up</h2>
            <h3 class="text-center" id="createAccount">Create an account:</h3>
        </font>
    </div>
    <div class="container-fluid" style="background-image:url('../../../assets/img/bg_1.jpg');">
        <div class="col-md-6 col-md-offset-3">
            <div class="card well">
                <div class="card-body">
                    <h4 class="card-title text-center">Please fill in these requirements</h4>
                    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <div class="form-row">
                                <label for="username" class="control-label">Username*</label>
                                <input id="username" type="text" class="form-control" placeholder="User full name"
                                    formControlName="username" autofocus>
                                <span *ngIf="!signUpForm.get('username').valid && signUpForm.get('username').touched"
                                    class="text-danger">Please enter a name of length between 3 and 15</span>
                            </div>
                            <br>
                            <div class="form-row">
                                <label for="pw" class="control-label">Password*</label>
                                <input id="pw" type="password" formControlName="password" placeholder="Password"
                                    class="form-control" autofocus>
                                <span class="text-danger" *ngIf="signUpForm.controls['password'].hasError('hasNumber')">
                                    Must have at least 1 number!<br>
                                </span>
                                <span class="text-danger"
                                    *ngIf="signUpForm.controls['password'].hasError('hasCapitalCase')">
                                    Must have at least 1 capital letter!<br>
                                </span>
                                <span class="text-danger"
                                    *ngIf="signUpForm.controls['password'].hasError('hasSmallCase')">
                                    Must have at least 1 small letter!<br>
                                </span>
                                <span class="text-danger" *ngIf="signUpForm.controls['password'].hasError('minLength')">
                                    Password must be at least 8 characters!<br>
                                </span>
                                <span class="text-danger" *ngIf="signUpForm.controls['password'].hasError('maxLength')">
                                    Password must be at most 12 characters!<br>
                                </span>
                                <span *ngIf="!signUpForm.get('password').valid && signUpForm.get('password').touched"
                                    class="text-danger">Please enter a password having at least a number , a capital
                                    letter and small letter with length at least 8 characters</span>
                            </div>
                            <br>
                            <div class="form-row">
                                <label for="cpw" class="control-label">Confirm Password*</label>
                                <input id="cpw" type="password" formControlName="confirmPassword"
                                    placeholder="Confirm Password" class="form-control" autofocus>
                                <span
                                    *ngIf="!signUpForm.get('confirmPassword').valid && signUpForm.get('confirmPassword').touched"
                                    class="text-danger">Password doesn`t match!</span>
                            </div>
                            <br>
                            <div class="form-row">
                                <label for="email" class="control-label">Email*</label>
                                <input id="email" type="email" placeholder="Email Address" class="form-control"
                                    autofocus formControlName="email">
                                <span *ngIf="!signUpForm.get('email').valid && signUpForm.get('email').touched"
                                    class="text-danger">Please enter a valid email address</span>
                            </div>
                            <br>
                            <div class="form-row">
                                <label for="Phone" class="control-label">Phone Number*</label>
                                <input id="phone" type="phoneNumber" formControlName="phone" placeholder="Phone Number"
                                    class="form-control" autofocus>
                                <span *ngIf="!signUpForm.get('phone').valid && signUpForm.get('phone').touched"
                                    class="help-block">Please enter a valid phone number of 11 digit</span>
                            </div>
                            <br>
                            <div class="form-row">
                                <label for="address" class="control-label">Adderess*</label>
                                <input id="address" type="text" placeholder="Address" class="form-control"
                                    formControlName="address" autofocus>
                                <span *ngIf="!signUpForm.get('address').valid && signUpForm.get('address').touched"
                                    class="text-danger">Please enter a valid address</span>
                            </div>
                            <br>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck"
                                    formControlName="accept" required>
                                <label class="custom-control-label" for="customCheck">I accept the terms and
                                    condition</label>
                                <span *ngIf="!signUpForm.get('accept').valid && signUpForm.get('accept').touched"
                                    class="text-danger">Accept terms and conditions *</span>
                            </div>
                            <span *ngIf="!signUpForm.valid && signUpForm.touched" class="help-block">Please enter valid
                                data</span>
                        </div>
                        <input type="submit" value="Submit" class="btn btn-primary btn-block"
                            [disabled]="!signUpForm.valid">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>